// todo import colors from main? organise scss files into single directory?
$background-grey: #363636;
$main-white: #fff;
$border-main: #454138;

// todo move these in to one
// .option-education {
//     background-color: $background-grey;
//     &:hover {
//         cursor: pointer;
//         opacity: .4;
//         background-color: $background-grey;
//         transition: opacity 0.6s;
//         -webkit-transition: opacity 0.6s;
//     }
// }

// .option-experience {
//     background-color: $background-grey;
//     &:hover {
//         cursor: pointer;
//         opacity: .4;
//         background-color: $background-grey;
//         transition: opacity 0.6s;
//         -webkit-transition: opacity 0.6s;
//     }
// }

// .option-skills {
//     background-color: $background-grey;
//     &:hover {
//         cursor: pointer;
//         opacity: .4;
//         background-color: $background-grey;
//         transition: opacity 0.6s;
//         -webkit-transition: opacity 0.6s;
//     }
// }


.main-option {
    padding-top: 20px;
    width: 450px;
    height: 250px;
    color: #414141;;
    font-size: 24px;
    position: relative;
    // opacity: .9;
    cursor: pointer;
    
    
    // background-color: $background-grey;
    overflow: hidden;
    border-bottom: $border-main solid;

    &--text-container {
        position: absolute;
        top: 6px;
        z-index: 1;
        text-align: center;
        width: 100%;
    }

    // &--secondary-text {
    //     transform: rotate(0deg);
    // }

    // background-color: #bab5a1;

    &:hover {
        opacity: .8;
        // background-color: #bab5a1;
        transition: opacity 1.2s;
        -webkit-transition: opacity 1.2s;
    }
}
