.home-page-banner {
    height: 300px;
    h1 {
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        text-shadow: 0.3rem 0.3rem 0 #bab5a1;
        margin: 0px;
        padding: 10px 0 0 10px;
    }

    .scroll-hint {
        position: absolute;
        right: 10px;
        top: 10px;
        writing-mode: vertical-rl;
        text-orientation: upright;
    }
}

.home-page {
    width: 100%;
    overflow-y: hidden;
}
