
$background-grey: #363636;

.container {
    height: 500px;
    width: 500px;
    margin: 0 auto;
    position: relative;
  }
  
  .wheel{
    border-radius: 50%;
    height: 100px;
    position: absolute;
    width: 100px;
    /*background: #000;*/
  }

  .wheel:after{
    background: none repeat scroll 0 0 $background-grey;
    border-radius: 36px;
    content: "";
    height: 60px;
    width: 60px;
    left: 50%;
    margin-left: -28px;
    margin-top: -28px;
    position: absolute;
    top: 50%;
    // z-index: 1;
  }

  .wheel.one {
    left: 10px;
    top: 12px;
  }

  .wheel.two {
    left: 119px;
    top: 44px;
  }

  .wheel.three {
    left: 200px;
    top: 122px;
  }
  
  .wheel-inner {
    animation-iteration-count: infinite;
    background: none repeat scroll 0 0 #555555;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    height: 100%;
    position: relative;
    width: 100%;
  }

  .wheel-inner .bar {
    background: none repeat scroll 0 0 #555555;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    height: 25px;
    left: 50%;
    margin-left: -60px;
    margin-top: -12px;
    position: absolute;
    top: 50%;
    width: 120px;
  }

  .wheel-inner .bar:nth-child(2) {
    transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
  }

  .wheel-inner .bar:nth-child(3) {
    transform: rotate(120deg);
    -webkit-transform: rotate(120deg);
  }

  @keyframes clockwise {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @-webkit-keyframes clockwise {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes anticlockwise {
    0% {
      -webkit-transform: rotate(360deg);
    }
    100% {
      -webkit-transform: rotate(0deg);
    }
  }

  @-webkit-keyframes anticlockwise {
    0% {
      -webkit-transform: rotate(360deg);
    }
    100% {
      -webkit-transform: rotate(0deg);
    }
  }

  .wheel.one .wheel-inner, .wheel.three .wheel-inner {
    animation: clockwise 5s linear infinite;
    -webkit-animation: clockwise 5s linear infinite;
  }

  .wheel.two .wheel-inner {
    animation: anticlockwise 5s linear infinite;
    -webkit-animation: anticlockwise 5s linear infinite;
  }
