$main-white: #fff;

$secondary-color: #dcd8c0;

$background-grey: #363636;

$text-light-grey: #686868;

.App {
  background-color: $main-white;
}

.Sidebar {
  width: 180px;
  min-height: 100%;
  background-color: $background-grey;
  color: $text-light-grey;
}